.btn-toggle-nav {
  padding-left: 2.5rem;
}
.btn-toggle-nav li {
  margin-bottom: 0.5rem;
}
.btn-toggle-nav a {
  color: #6c757d;
  text-decoration: none;
}
.btn-toggle-nav a:hover {
  color: #007bff;
  font-weight: 500;
}

.btn-toggle-nav .selected {
  color: #6823e9;
  font-weight: bolder;
}
