<h2>Películas{{ selectedGenre ? " | " + selectedGenre.type : "" }}</h2>

<div *ngIf="isLoading" class="text-center my-3">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="row" style="height: 100vh; overflow-y: auto" *ngIf="!isLoading">
  <div class="col-md-{{ selected ? '6' : '12' }}">
    <div class="row">
      <div [ngClass]="cardColumnClasses" *ngFor="let movie of movies">
        <div class="card text-center" (click)="onSelected(movie)">
          <img
            [src]="movie.poster"
            class="card-img-top mx-auto d-block img-poster"
            alt="Profile picture"
          />
          <div class="card-body">
            <h6 class="card-title text-truncate line-clamp-2">
              {{ movie.title }} ({{ movie.releaseDate | date : "yyyy" }})
            </h6>
            <p class="card-subtitle text-muted subtitle">
              {{ movie.genre.type }}
            </p>
            <div class="d-flex justify-content-center">
              <span
                *ngFor="let star of [1, 2, 3, 4, 5]"
                class="bi bi-star-fill"
                [class.bi-star]="star > movie.popularity"
                style="color: #ffc107"
              >
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-{{ selected ? '6' : '0' }}">
    <div *ngIf="selected">
      <app-movie-detail [movieDetail]="selectedMovie"></app-movie-detail>
    </div>
  </div>
</div>
