<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light d-lg-none">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#sidebar"
      aria-controls="sidebar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">7Arte</a>
  </div>
</nav>

<!-- Offcanvas sidebar -->
<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="sidebar"
  aria-labelledby="sidebar-label"
>
  <div class="offcanvas-header">
    <h5 id="sidebar-label">7Arte</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="clearGenre()">Películas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="showActors()">Actores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Géneros</a>
      </li>
      <li>
        <app-genre-list></app-genre-list>
      </li>
    </ul>
  </div>
</div>

<!-- Sidebar -->
<ul class="sidebar nav flex-column">
  <li class="nav-item">
    <h5 class="m-3">7Arte</h5>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="clearGenre()">Películas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="showActors()">Actores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Géneros</a>
  </li>
  <li>
    <app-genre-list></app-genre-list>
  </li>
</ul>
